{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "legacyDecorators": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "linebreak-style": 0
  },
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "Handlebars": false,
    "SimpleWebRTC": false
  }
}